{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": "Chrome > 55"
            }
        ],
        "@babel/preset-react"
    ],
    "plugins": [
        "@babel/plugin-proposal-class-properties",
        "react-hot-loader/babel"
    ]
}